build/
dist/
kornia.egg-info/
.idea
*/**/__pycache__
*/**/*.pyc
*/**/*~
*~
*.swp
*.swo
*.swn
*.swm
.eggs/*
.cache/*
.pytest_cache/*
.dev_env
.mypy_cache/*
.coverage*
*bak
*ipynb_checkpoints*
docs/source/_static/*jpg
docs/source/_static/img/*jpg
docs/source/_static/scripts/*
docs/assets/
site/
*DS_Store
*jpg

# onnx tests create temp.onnx file
*.onnx
venv/
weights/

# uv
.uv_cache/

.python-version
