build/
dist/
kornia.egg-info/
.idea
*/**/__pycache__
*/**/*.pyc
*/**/*~
*~
*.swp
*.swo
*.swn
*.swm
.eggs/*
.cache/*
.pytest_cache/*
.dev_env
.mypy_cache/*
.coverage
*bak
*ipynb_checkpoints*
docs/source/_static/*jpg
