# core dependencies
pytorch==1.5.0

# utils
torchvision==0.6.0
opencv
ipython
jupyter
matplotlib

# test
pytest>=5.1.2
pytest-flake8
pytest-cov
pytest-mypy
autopep8
pydocstyle

# docs
sphinx
sphinx-gallery
sphinx_rtd_theme
sphinxcontrib-bibtex
nbsphinx
nbconvert
notebook
