# core dependencies
pytorch==1.5.0

# package
setuptools>=41.4.0

# utils
torchvision==0.6.0
opencv
ipython
jupyter
matplotlib

# test
pytest>=5.1.2
pytest-cov
flake8
autopep8
mypy
mypy_extensions

# docs
sphinx
sphinx-gallery
sphinx_rtd_theme
sphinxcontrib-bibtex
nbsphinx
nbconvert
notebook
