.highlight {
    position: relative;
}

.copybtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px;
    border-style: solid;
    border-color: #DDD;
    border-top: 0;
    border-right: 0;
    border-radius: 0 0 0 5px;
}

.copybtn:hover {
    background-color: rgba(100, 30, 255, 0.1);
    opacity: 0.9;
}
