accelerate
coverage
diffusers
ivy>=1.0.0.0
mypy
numpy<2
onnx
onnxruntime
pillow
pre-commit>=2
pytest==8.3.3
pytest-timeout
requests
setuptools>=61.2  # needed by pytorch dynamo / triton
transformers
types-requests
