furo
ivy>=1.0.0.0
kornia_moons
matplotlib
onnx
onnxruntime
opencv-python
PyYAML>=5.1
sphinx
sphinx-autodoc-defaultargs
sphinx-autodoc-typehints
sphinx-copybutton>=0.3
sphinx-design
sphinx-notfound-page
sphinxcontrib-bibtex
sphinxcontrib-gtagjs
sphinxcontrib-youtube
