furo
kornia_moons
matplotlib
opencv-python
PyYAML>=5.1
sphinx==7.0.1 # TODO: Unpin after sphinx-doc/sphinx/issues/11543 be solved
sphinx-autodoc-defaultargs
sphinx-autodoc-typehints
sphinx-copybutton>=0.3
sphinx-design
sphinxcontrib-bibtex
sphinxcontrib-gtagjs
sphinxcontrib-youtube
torchvision
