accelerate
boxmot
coverage
diffusers
mypy
numpy<3,>=2.19.0
onnx
onnxruntime
pillow
pre-commit>=2
pytest==8.3.3
pytest-timeout
requests
setuptools>=61.2  # needed by pytorch dynamo / triton
transformers
types-requests
