# docs requirements
torch
torchvision
opencv-python
matplotlib
# sphinx
sphinx >=2.1, <3
sphinx_rtd_theme>0.5
sphinxcontrib-bibtex
sphinx_autodoc_typehints
sphinx_copybutton
sphinx_autodoc_defaultargs
