# docs requirements
torch
torchvision
opencv-python
matplotlib
# sphinx
sphinx>=4.0
https://github.com/kornia/sphinx_rtd_theme/archive/0.5.2-analytics.zip
sphinxcontrib-bibtex
sphinx-autodoc-typehints>=1.0
sphinx-copybutton>=0.3
sphinx-autodoc-defaultargs
PyYAML>=5.1,<=5.4.1
