name: test-docs

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'doc/**'
  pull_request:
    branches:
      - main
    paths:
      - 'doc/**'

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup conda dependencies
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        python-version: 3.6
    - name: Install dependencies
      shell: bash -l {0}
      run: |
        pip install -r docs/requirements.txt
        pip install .[all]
    - name: Build Documentation
      shell: bash -l {0}
      run: make build-docs
    - name: Deploy to GitHub Pages
      if: ${{ github.event_name != 'pull_request' }}
      uses: JamesIves/github-pages-deploy-action@3.7.1
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh_pages # The branch the action should deploy to.
        FOLDER: doc/html-dir # The folder the action should deploy.
        CLEAN: true # Automatically remove deleted files from the deploy branch
