name: code-format

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: "0 4 * * *"

jobs:
  linter:
    runs-on: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v2
    - name: Cache pip
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements-dev.txt') }}
        restore-keys: ${{ runner.os }}-pip-
    - name: Install dependencies
      run: pip install -r requirements-dev.txt

    - name: Run linter
      run: make lint

  static-check:
    runs-on: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v2
    - name: Cache pip
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements-dev.txt') }}
        restore-keys: ${{ runner.os }}-pip-
    - name: Install dependencies
      run: pip install -r requirements-dev.txt

    - name: Run mypy
      run: make mypy
      
  doctest:
    runs-on: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v2
    - name: Cache pip
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements-dev.txt') }}
        restore-keys: ${{ runner.os }}-pip-
    - name: Install dependencies
      run: pip install -r requirements-dev.txt

    - name: Run doctest
      run: make doctest
