name: Lint

on:
  push:
    branches:
      - main
    paths:
      - '*.toml'
      - 'pixi.toml'
      - 'pyproject.toml'
  pull_request:
    branches:
      - main
    paths:
      - '*.toml'
      - 'pixi.toml'
      - 'pyproject.toml'

permissions:
  contents: read

jobs:
  toml-fmt:
    name: TOML Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.40.0
          cache: true

      - name: Check TOML formatting
        run: pixi run -e default toml-fmt-check
