name: Run tests on CPU

on:
  push:
    branches: [test-me-*]
  pull_request:
    branches: [master]
    types: [opened, reopened, synchronize, review_requested, ready_for_review, labeled]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  tests-cpu:
    strategy:
      fail-fast: false # TODO: enable it when CI be stable
      matrix:
        os: ['Ubuntu', 'Windows', 'MacOS']
        pytorch-dtype: ['float16', 'float32', 'float64']
    uses: ./.github/workflows/tests.yml
    with:
      os: ${{ matrix.os }}
      python-version: '["3.7", "3.10"]'
      pytorch-version: '["1.9.1", "1.13.1"]'
      pytorch-dtype: ${{ matrix.pytorch-dtype }}
      continue-on-error: ${{ contains('float16', matrix.pytorch-dtype) }} # Remove this when float16 stop raising errors

  tests-nightly:
    if: ${{ github.event.label.name == 'nightly' }}
    name: ${{ matrix.os }} - python-${{ matrix.python-version }}, torch-nightly, ${{ matrix.pytorch-dtype }}

    strategy:
      fail-fast: false
      matrix:
        os: ['Ubuntu', 'Windows', 'MacOS']
        pytorch-dtype: ['float32', 'float64']
    uses: ./.github/workflows/tests.yml
    with:
      os: ${{ matrix.os }}
      python-version: '["3.7", "3.10"]'
      pytorch-version: '["nightly"]'
      pytorch-dtype: ${{ matrix.pytorch-dtype }}
