on:
  workflow_call:
    inputs:
      python-version:
        required: false
        type: string
        default: '["3.10"]'
      backend:
        required: false
        type: string
        default: '["torch"]'
      backend-version:
        required: false
        type: string
        default: '["2.0.1"]'
      os:
        required: false
        type: string
        default: ubuntu-latest
      fail-fast:
        required: false
        type: boolean
        default: false

jobs:
  tests-typing:
    name: python-${{ matrix.python-version }}, ${{ matrix.backend }}-${{ matrix.backend-version }}
    runs-on: ${{ inputs.os }}
    strategy:
      fail-fast: ${{ inputs.fail-fast }}
      matrix:
        python-version: ${{ fromJSON(inputs.python-version) }}
        backend: ${{ fromJSON(inputs.backend) }}
        backend-version: ${{ fromJSON(inputs.backend-version) }}
        exclude:
          - pytorch-version: '1.9.1'
            python-version: '3.10'
          - pytorch-version: '1.10.2'
            python-version: '3.10'

    steps:
    - name: Checkout kornia
      uses: actions/checkout@v3

    - name: Setting environment on ${{ inputs.os }} with python ${{ matrix.python-version }} and ${{ matrix.backend }} ${{ matrix.backend-version }}
      uses: ./.github/actions/env
      with:
        python-version: ${{ matrix.python-version }}
        backend: ${{ matrix.backend }}
        backend-version: ${{ matrix.backend-version }}

    - name: Run typing tests
      shell: bash -l {0}
      run: mypy kornia/
