name: tests-cuda

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  tests-cuda:
    container:
      image: nvcr.io/nvidia/pytorch:20.03-py3
      options: --gpus all
    runs-on: [self-hosted, Linux, x64]
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7]
        pytorch-version: [1.7.0]
        cuda-version: [10.2]
    steps:
    - uses: actions/checkout@v2
    - name: Setup conda dependencies
      uses: conda-incubator/setup-miniconda@v2
      with:
        miniconda-version: "latest"
        auto-update-conda: true
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      shell: bash -l {0}
      run: |
        conda install pytorch=${{ matrix.pytorch-version }} cudatoolkit=${{ matrix.cuda-version }} -c pytorch
        pip install -r requirements-dev.txt
        python setup.py install
    - name: Run Tests
      shell: bash -l {0}
      run: pytest -v --device cuda --dtype float32,float64 ./test
